<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application android:label="Delivery GPS"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity
            android:name="com.android.controller.Delivery"
            android:label="Delivery GPS"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
          android:name="com.google.android.geo.API_KEY"
          android:value="AIzaSyBeBTdYS6A2g5H4wFvVdl3ewVzVrSedK88" />

        <activity android:name="com.android.controller.Login" 
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="portrait"/>

         <activity android:name="com.android.controller.GPSLocation" 
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="portrait"/>

         <activity android:name="com.android.controller.DeliveryLocation" 
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="portrait"/>

    </application>
    <supports-screens android:resizeable="true" />

</manifest>
